.header {
  background: $dark-blue;
}

.header__content{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title{
  color: white;
  text-decoration: none;
  h1{
    margin: 0;
  }
}

.header__avatar {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}