 //Colors
 $dark-grey: #333;
 $grey: #666;
 $blue: #1c89bf;
 $dark-blue: #41CAC6;
 $off-white: #f7f7f7;

 //Font Size
 $font-size-header: 2.4rem;
 $font-size-large: 1.8rem;
 $font-size-small: 1.4rem;
 $font-size-extra-small: 1rem;

 //Spacing
 $s-size: 1.2rem;
 $m-size: 1.6rem;
 $l-size: 3.2rem;
 $xl-size: 4.8rem;
 $desktop-breakpoint: 45rem;